# Django settingss
DJANGO_SECRET_KEY=enter_a_new_long_secret
ENABLE_DEBUG=1
SHOW_ADMIN=1

#OIDC / OpenID settings
JWT_ISSUER_DOMAIN=http://host.docker.internal:9000
JWT_ISSUER_NAME=Openskies
OIDC_RSA_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDYhLFVSkopjohz
MBMiMCPRzcLVew75uFHQa4gV9ukoH4j1W1ZJmbz4a7rKVqidaXN4sPj1bOfi97eQ
yxMt0Z2uHCZ5fhQn6fFxyrfKbOkBJFawiZHlETQ1BMLs3e9avEiRi5Yn0EeF5iGM
PCmWvpMh6GsNNJxyVFzxIckuaomZrQ3PO6DP+yFOkqBxrRD1L4IPjt5pbdZcK50y
s/UMqLugphPUmvEiwoR3tFAvHVyEzIMyBRWmuUaQm/zufA9gNwwNaLXoppPLus9c
3Vg4KPt8mSLTiP3bZ90cKoz8htMINE099aSD5U0PGIvllLkqcR1lXWrc9LjByuiG
q/ARXJ8DAgMBAAECggEAYfkRIS3fhxRm6/BqCANOggYgTmdDrH3aD3xI9N9oO26h
k5yD3AQD/UkKGbrCy4/G32r9DFj+SLacypkJkacTOZClXD5PsovqY/o91gwYFxsx
Wuq1KLjzLbZ82Z/HSgB+udU22ccmRhGPRpyGmR6dBy/bGPugex9vevE1zpoIr49I
XTSxl57P/+B6lq961d18kOnNfZekzjXy/ARf1rMbfm27VxMY7UCHU66qJRpDuyTa
7qWgmCy+OCGTstRob5i9Yv64DRZKrlZYCsNLZKGOaTyfuGiXmluM5UCTjJAj4Um4
+FSsMkafd0s7+3C+kS2p/Fc8Xzqi0qtwy7YMHz3oAQKBgQD8/cBqaLlkEOulHLjq
NL4CxaN9Pa5+Jizq680gwz+zry/ewqE3sa5CZgNuOYT2g/J48icGSosefEr5zelj
zx3l/LE0FvcX4lCJgWc8Lgix2VbDChNGzIRkCoFi1n3u3r2V9BKvXYRK2MMgV9so
PtBjDX10x7jA/XW3IYDGwJusAQKBgQDbF+Wg4A7acGHJknOq8tIKZCItBspC6mAY
r5YSi2PH3guJQdBJsIiT1dmLMezRcysVEgg2AFf8nYHzsn9kKpxCycyNkdpfcdPP
1wepn6SxuQ5qNMuDtAU5Z7uCugAVCT3cAK0uOHUJ3If/BvsYnfeHAU4dppt4Tcdl
+Z/6smWbAwKBgQDpnNPiLqQKwAkpJXWnZ16SJriKPLv1ZwERSP7ZIxKetMWKeMTw
LdWRIKxISzr5e+waPNlGWO1QEEwXkknSzX15Uza6t/4hgu0FnIWcr5F90Qjp/1K/
jLkvu/ewMgqF2g7M+l2Kq9suVi0Qn7AS4LYC0YEopgh3xVS+72P/o/ncAQKBgQCW
X6d+rGnlaV7kj70N5s1czm9agh+On/jG2LTjE4Kvqmo2kdJY0W5cMVm3nNOSyj4W
nyK9lazOOHj5/1hKMqi/emwH+sRr399l9otO08ChLoeDQ6svQP6Y8OaVCf6Gcapg
dqJmZ9+EnjVFR9BNjBZZNf8cgL6SaqfiCNvRoGH2awKBgFD9NFCSOKJ4MuWSEffl
EcpywoJpmqcoJ+O3Sgw61kdnBNqrnr113bJ5cPYUOvon3MKGyuJkPdj8A2yiWdOT
Lm33Dq3J0yLJx/u5uMCypdftHhFL13gg+2ykQnNL9Z68cNCvj7dpVY9EIAMNIloD
TBR8hHmSYas0rdzunXMZf5ui
-----END PRIVATE KEY-----'

DOMAIN_WHITELIST=domain1;domain2;
RABBITMQ_SERVER_AUDIENCE=blender.rabbitmq.utm.dev.airoplatform.com

# If you are using it locally, you can setup the following for a database URL.
#DATABASE_URL=sqlite:///flight_passport.sqlite3
DATABASE_URL=postgres://postgres:postgres@db-passport:5432/postgres

#Django Superuser for Docker
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@mysite.com
DJANGO_SUPERUSER_PASSWORD=admin


# Postgres config for Docker Compose, these will tell Docker Compose to setup PG
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=db
PGDATA=/var/lib/postgresql/data/pgdata

# Get a key from a Email service provider e.g. Mailersend, Resend

ESP_EMAIL_BACKEND=__eg__anymail.backends.mailersend.EmailBackend__
MAILERSEND_API_TOKEN=__MAILERSEND_TOKEN__
RESEND_API_KEY=__RESEND_TOKEN__
DEFAULT_FROM_EMAIL=example@yourauthorizeddomain.com
